.summary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #000;
}