<mat-card class="checkout-wrapper">
    <mat-card-header>
    <mat-card-title>Checkout</mat-card-title>
    </mat-card-header>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Shipping Information</ng-template>
        <app-address-form></app-address-form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Billing Information</ng-template>
          <app-payment-form></app-payment-form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Order Summary</ng-template>
          <app-order-summary [cart]="cart"></app-order-summary>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
