<mat-card class="registration-wrapper">
  <mat-card-header>
  <mat-card-title>Registration</mat-card-title>
  </mat-card-header>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Personal Data</ng-template>
        <app-address-form></app-address-form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Payment Data</ng-template>
        <app-payment-form></app-payment-form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Login Data</ng-template>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Username" name="username" required>
              </mat-form-field>
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Password" type="password" name="password" required>
              </mat-form-field>
            <div class="button-wrapper">
              <button mat-stroked-button matStepperPrevious color="accent">Back</button>
              <button mat-raised-button color="primary">Create Account</button>
            </div>
        </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>