.registration-wrapper {
    margin: 0 auto;
    width: 500px;

    @media only screen and (max-width: 600px) {
        width: 250px;
    }
}

.registration-from {
    display: flex;
    flex-direction: column;
}

.input-full-width {
    width: 100%;
    margin: 5px;
}

.input-number {
    margin-left: 15px;
}

.mat-radio-button ~ .mat-radio-button {
    margin: 15px
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}
.start-button-wrapper {
    display: flex;
    justify-content: flex-end;
}