<mat-card class="registration-wrapper">
  <mat-card-header>
  <mat-card-title>Registration</mat-card-title>
  </mat-card-header>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{sectionTitles[0]}}</ng-template>
        <app-address-form [formGroup]="firstFormGroup"></app-address-form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>{{sectionTitles[1]}}</ng-template>
        <app-payment-form [formGroup]="secondFormGroup"></app-payment-form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>{{sectionTitles[2]}}</ng-template>
        <app-login-form [formGroup]="thirdFormGroup"></app-login-form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>