<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-full-width">
        <input matInput placeholder="Username" name="username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
      </mat-form-field>
    <div class="button-wrapper">
      <button mat-stroked-button matStepperPrevious color="accent">Back</button>
      <button type="submit" [disabled]="!registrationValid" mat-raised-button color="primary">Create Account</button>
    </div>
</form>
