<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="!productSearchOpen">
    <a routerLink="/">
        <span>Bookstore</span>
    </a>
    <span class="example-spacer"></span>
    <button mat-button (click) ="toggleProductSearch()">
      <mat-icon class="example-icon">search</mat-icon>
    </button>
    <a routerLink="/login">
        <mat-icon class="example-icon">account_circle</mat-icon>
    </a>
    <a routerLink="/cart">
        <mat-icon class="example-icon">shopping_cart</mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="productSearchOpen">
      <form [formGroup]="formGroup" class="form">
        <button type="submit" mat-button>
            <mat-icon class="example-icon">search</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="searchTerm">
        </mat-form-field>
      </form>
      <button mat-button (click) ="toggleProductSearch()">
          <mat-icon class="example-icon">close</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
