<mat-card class="card-container">
    <h1 class="mat-h1">Welcome to the amazing bookstore shop</h1>
    <div>
        <img src="https://de.wikipedia.org/wiki/Berner_Fachhochschule#/media/File:BFH_Logo_deutsch.png" alt="">
    </div>
    <p class="mat-body">from Fabian Rindlisbacher and Dominik Rieder with:  <mat-icon class="example-icon">mood</mat-icon></p>
    <p class="mat-body">Start with the product search in the header to discover our amazing books...</p>
  <p class="mat-body"> Click <a routerLink="/admin">here</a> to go to the catalog-admin page</p>
</mat-card>


