<mat-card class="checkout-wrapper">
    <mat-card-header>
    <mat-card-title>Checkout</mat-card-title>
    </mat-card-header>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>{{sectionTitles[0]}}</ng-template>
        <app-address-form (handleFormData)="handlePersonalDataForm($event)" (handleFormValidation)="handleFormValidation($event)"></app-address-form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{sectionTitles[1]}}</ng-template>
        <app-payment-form (handleFormData)="handleBillingInformationForm($event)" (handleFormValidation)="handleFormValidation($event)"></app-payment-form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{sectionTitles[2]}}</ng-template>
        <app-order-summary 
          [personalData]="personalData"
          [billingInformation]="billingInformation"
          [checkoutValid]="checkoutValid"
          [books]="books"
          (placeOrder)="placeOrder()"
        ></app-order-summary>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
